html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #171919;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.slick-arrow {
    border: none;
    background: none;
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 5;
}

.slick-prev {
    right: 125px;

}


.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}

.title {
    span {
        font-weight: 800;
        font-size: 200px;
        color: rgba($color: #fff, $alpha: 0.1);
        line-height: 186px;
        position: relative;
        transform: translateX(-15%);
        display: inline-block;
    }

    h3 {
        top: -45px;
        right: -5px;
        position: absolute;
        font-weight: 800;
        font-size: 80px;
        color: #fff;
        display: inline-block;
        padding-top: 10px;

        &::before {
            content: '';
            position: absolute;
            top: 52px;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $akcent;
        }
    }
}


.subtitle {
    display: inline-block;
    text-align: right;

    &__head {
        font-size: 40px;
        font-weight: 800;
        line-height: 46px;
        padding-right: 10px;
        padding-top: 22px;

        span {
            font-weight: 100;
        }
    }

    .subline-left {
        position: relative;
        padding-left: 103px;
        opacity: 0.7;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 7.33333px;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            left: 0;
            top: 50%;
        }
    }

}

.descr {
    padding-left: 5px;
    display: inline-block;
    text-align-last: left;

    &__head {
        font-size: 40px;
        font-weight: 800;
        line-height: 46px;
        position: relative;
        padding-right: 215px;
        margin-top: 10px;

        img {
            position: absolute;
            top: 0;
            right: 140px;
        }

        .holder__star-list {
            text-align-last: left;
            position: absolute;
            top: 0;
            right: 0;

            img {
                position: static;
            }
        }

        span {
            font-weight: 100;
        }
    }

    .subline-right {
        position: relative;
        padding-right: 103px;
        opacity: 0.7;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 7.33333px;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            right: 0;
            top: 50%;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    position: relative;
    padding-right: 15px;

    span {
        padding: 17px 57px 15px 17px;
        background-color: $akcent;
        position: relative;
        margin-left: 19px;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/icons/arrow-right.svg);
            width: 24px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -10px;
            width: 20px;
            height: 1px;
            background-color: #fff;
        }
    }
}

.surf-box__inner-location,
.holder-slider__info-subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
}

.holder,
.surf {
    padding: 0 0 120px;
}

.holder {
    padding-bottom: 246px;
}

.holder__slider {
    .slick-arrow {
        opacity: .5;
        top: 270px;
        right: 85px;
    }

    .slick-prev {
        right: 132px;
    }
}

.quantity {
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 50px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 800;
    border: none;
    background: none;
    color: #fff;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    position: relative;
    position: static;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}

.quantity-button.quantity-up {
    position: absolute;
    right: 0px;
}

.quantity-button.quantity-down {
    position: absolute;
    right: 25px;
}

.star-list {
    li {
        display: inline-block;
        &+li{
          margin-left: -25px;  
        }
        
    }
}