@import 'vars';
@import 'global';
@import 'fonts';

.header {
    position: relative;

    &__title {
        position: absolute;
        max-width: 467px;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        opacity: 0.1;
        top: 0;
        z-index: 1;
    }

    &__arrow {
        position: absolute;
        bottom: 40px;
        left: 209px;
        z-index: 1;
    }

    &__aside {
        position: absolute;
        z-index: 2;
        border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
        height: 100vh;
        width: 168px;
        text-align: center;
        text-transform: none;
    }

    &__search {
        margin-bottom: 30px;

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    &__date {
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;

        span {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.4px;
            display: block;
            margin-bottom: 30px;
            padding-top: 15px;
        }
    }

    &__lication {
        position: relative;
        padding-left: 18px;
        font-weight: 300;
        line-height: 14px;
        font-size: 12px;
        letter-spacing: 1.05px;
        display: inline-block;

        &::before {
            content: '';
            background-image: url(../images/icons/mapm.svg);
            position: absolute;
            width: 11px;
            height: 13px;
            left: 0;
        }
    }

    &__map {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.menu {
    padding-top: 30px;

    &__item {
        span {
            letter-spacing: 3px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            display: block;
            margin-bottom: 20px;
            padding-top: 6px;
        }
    }
}

.slider-item {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__info {
        position: absolute;
        bottom: 104px;
        right: 80px;
        text-align: right;
    }

    &__info-title {
        font-weight: 800;
        font-size: 80px;
        line-height: 86px;
        margin-bottom: 48px;
    }

    &__info-subtitle {
        margin-bottom: 5px;
    }

    &__info-subtext {
        margin-bottom: 10px;
    }

    &__info-text {
        font-weight: 800;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 20px;
    }
}

.slider-dots {
    position: absolute;
    bottom: 36px;
    right: 50px;
    max-width: 920px;
    width: 100%;
    text-align: right;
    text-transform: none;

    .slick-current {
        .dots-box {
            border-top: 4px solid $akcent;
        }
    }
}

.dots-box {
    border-top: 4px solid #fff;
    width: 200px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    &__number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }

    &__name {
        font-weight: 300;
    }
}

.slider__map {
    background-image: url(../images/world-map.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1300px;
    min-height: 750px;
    margin: 0 auto;

    .slick-list {
        min-height: 635px;
    }
}


.slider-dots-map--1 {
    top: 400px;
    right: -4px;

    .slider-dots-map__content {
        &-position {
            bottom: 10px;
            right: -133px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            left: 0;
            top: 15px;
            transition: all .3s;
        }
    }
}

.slider-dots-map--2 {
    top: 300px;
    right: 25px;

    .slider-dots-map__content {
        &-position {
            bottom: 10px;
            right: -133px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            left: 0;
            top: 15px;
        }
    }
}

.slider-dots-map--3 {
    top: 400px;
    right: -25px;

    .slider-dots-map__content {
        &-position {
            bottom: 10px;
            right: -133px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            left: 0;
            top: 15px;
        }
    }
}

.slider-dots-map--4 {
    top: 500px;
    right: 30px;

    .slider-dots-map__content {
        transform: translateY(-111%);

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -10px;
            left: 0;

        }
    }
}

.slider-dots-map--5 {
    top: 220px;
    right: 45px;

    .slider-dots-map__content {
        &-position {
            bottom: 10px;
            right: -133px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            left: 0;
            top: 15px;
        }
    }
}

.slider-dots-map--6 {
    top: 600px;
    right: 120px;

    .slider-dots-map__content {
        transform: translateY(-111%);

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -10px;
            left: 0;
        }
    }
}

.slider-dots-map--7 {
    top: 395px;
    right: 37px;

    .slider-dots-map__content {
        transform: translate(-92%, -111%);

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -8px;
            right: -0.7px;
        }
    }
}

.slider-dots-map--8 {
    top: 565px;

    .slider-dots-map__content {
        transform: translate(-91%, -112%);

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $akcent;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -10px;
            right: 0.8px;
        }
    }
}

.slick-current {
    .slider-dots-map__content {
        display: block;
    }

    .slider-dots-map__sircel {
        box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
        opacity: 1;
    }
}

.slider-dots-map {
    position: relative;

    &__sircel {
        width: 24px;
        height: 24px;
        background: $akcent;
        box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.3);
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        opacity: .5;
        transition: all .5s;

        &::before {
            content: '';
            position: absolute;
            top: -14px;
            right: -15px;
            width: 14px;
            height: 17px;
            background-image: url(../images/path.svg);
            background-size: cover;
        }
    }

    &__content {
        width: 283px;
        height: 216px;
        border-radius: 10px;
        padding: 32px 32px 0 32px;
        background: rgba($color: #000000, $alpha: 0.8);
        display: none;

        &-position {
            position: absolute;
            white-space: nowrap;
            bottom: 0px;
            right: -10px;
            letter-spacing: 4px;
            font-size: 15px;
            line-height: 22px;
            opacity: .5;
            transform: rotate(-90deg);
            width: 0;
            height: 0;
        }
    }

    &__content-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__content-title {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
    }

    &__content-subtitle {
        text-transform: capitalize;
        padding-top: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: $akcent;
            left: 0;
            top: 0;
        }

    }

    &__content-link {
        padding-top: 7px;
    }

    &__content-item {
        text-align: center;

        img {
            margin: 0 auto;
        }
    }

    &__content-data {
        font-weight: 800;
        line-height: 23px;
        padding: 8px 0;
    }

    &__content-name {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }
}

.surf {
    background-position: right 200px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/surf-marker.svg);
    background-size: auto;
}

.surf__subtitle {
    padding-right: 80px;
    margin-top: -86px;
}

.surf-slider {
    padding-top: 110px;

    .slick-arrow {
        opacity: 0.2;
        top: 60px;
    }
}

.slick-slide:nth-child(4n + 1) {
    .surf-box {
        margin-top: 32px;
    }
}

.slick-slide:nth-child(4n + 3) {
    .surf-box {
        margin-top: 89px;
    }
}

.slick-current {
    .surf-box__inner-btn {
        display: block;

    }

    .surf-box__inner {
        transition: all .5s;
        background: rgba($color: #000000, $alpha: 0.2);
    }
}

.surf-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__inner {
        min-height: 750px;
        background: rgba($color: #1C2121, $alpha: 0.7);
        position: relative;
        padding: 72px 0 0 40px;

    }

    &__inner-title {
        font-weight: 800;
        font-size: 40px;
        line-height: 46px;
        width: 119px;
    }

    &__inner-location {
        bottom: 80px;
        left: 40px;

        span {
            font-weight: 100;
        }
    }

    &__inner-btn {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;

    }
}


.travel {
    background-image: url(../images/travel-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.travel-slider {
    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }

    &__descr {
        background-repeat: no-repeat;
        min-height: 320px;
        background-position: right center;
        padding: 160px 0 0 132px;
        margin-top: -230px;
    }

    &__sybtitle {
        text-align: right;
        padding-right: 80px;
        padding-top: 132px;
    }

    &__btn {
        text-align: center;
    }
}

.travel-slider__info {
    display: flex;
    justify-content: space-around;

    &-item {
        position: relative;
        min-height: 200px;
        margin-bottom: 100px;
        padding-top: 50px;
    }

    &-subtitle {
        width: 200px;
        top: 150px;
        left: -97px;
        opacity: .5;
        text-align: right;
    }

    &-title {
        padding-left: 40px;
        font-weight: 800;
        font-size: 40px;
        line-height: 46px;
        position: relative;
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 36px;
            opacity: .5;
            letter-spacing: 5.25px;
            position: absolute;
            right: 16px;
            top: 40px;
        }
    }
}


@import 'media';